
@font-face {
  font-family: 'AndaleMono';
  src: "../fonts/AndaleMono.ttf"
}

html,body{ 
    margin: 2rem;
    padding: o;
    font-family: 'AndaleMono','Futura', sans-serif;
}

.meny{
    padding: 1.2rem;
    background: white;
    font-size: 1rem;
    text-align: right;
    font-family: 'AndaleMono';

}

.meny a{
    padding: 0 2rem;
    text-decoration: none;
    color:rgb(12, 12, 12);
    text-transform: uppercase;
}

.meny a:active{
    top: 2px;

}

.header{
    font-family: 'AndaleMono','Futura', sans-serif;
    color:rgb(12, 12, 12);
    text-align: left;
    padding: 0 2rem;
}

.container{
    justify-content: center;
    padding: 2rem;
    display: flex;
    flex-wrap: wrap;
}

.mediaM{
    margin: 2rem;
    vertical-align: middle;
    text-align: center;

}

.headerM{
    text-align: center;
}
a{
    color: black;
}
a:hover {
    color: hotpink;
}